* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color:#0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-log{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("https://wallpaperaccess.com/full/1383586.jpg");
    background-size: cover;
    height: 55px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid aqua;
}
/**box 2 **/
.add-fir{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-ico{
    display: flex;
    align-items: center;
    margin-left: 16px;
}
/**box 3**/
.nav-search
{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.nav-search:hover
{
    border: 3px solid orange;
}
.select-search
{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.select-input
{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.select-icon
{
    width: 45px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color:rgb(255,183,0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0f1111;
}
span
{
    font-size: 0.7rem;
}
.nav-second
{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart i
{
    font-size: 30px;
}
.nav-cart
{
    font-size: 0.85rem;
    font-weight: 700;
}
.panel
{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p
{
    display: inline;
    margin-left: 15px;
}
.panel-ops
{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals
{
    width: 30%;
    font-size: 0.9rem;
    font-weight: 700;
}
.main-section
{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/prime/MayART24/ACQ/GW/New_MayART24_GW_PC_Hero._CB559897147_.jpg");
    height: 400px;
    background-size: cover;
}
.products
{
    background-image: url(https://m.media-amazon.com/images/I/51ZSLrJqAML._AC_SY145_.jpg);
    width: 300px;
    height: 150px;
}
.det
{
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: flex;
    margin-top: 2px;
    padding-left: 0;
    align-items: center;
}